body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: rgb(243, 195, 63);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 5px;
}

.navbar input {
  border-radius: 2rem;
  padding: 0 1rem;
  line-height: 2rem;
  font-size: 0.8rem;
  border: 0;
  min-width: 200px;
  background-color: rgb(231, 214, 165);
  transition: all ease 0.3s;
}

.navbar input:focus {
  border: 3px solid rgb(224, 153, 59);
  outline: 0;
  min-width: 250px;
  transition: all ease 0.3s;
}

.navbar h3 {
  letter-spacing: 0;
}

.title__div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 5rem;
}

.title__div h1,
h2 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 2px;
}

.main__container div h2 {
  color: rgb(243, 195, 63);
}

.homepage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  text-align: center;
}

.homepage__form input {
  font-family: "Courier New", Courier, monospace;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  transition: border 0.3s;
}

.homepage__form input:focus {
  outline: 0;
  border: 2px solid rgb(243, 195, 63);
  transition: border 0.3s;
}

.homepage__form button {
  background-color: rgb(243, 195, 63);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 2rem;
  border: 0;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.homepage__form button:hover {
  background-color: rgb(255, 212, 94);
  transition: background-color 0.3s;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
}

.pizza__photo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin: 0;
}

.menu__list section {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 2rem;
}

.menu__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 1rem 0;
  border-bottom: 1px solid #cacaca;
}

.menu__item__infos {
  margin: 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.menu__item__infos h3 {
  margin: 0;
}

.menu__item__name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
}

.menu__item__ingredients {
  color: #888;
}

.add__to__cart__btn,
.menu__item__delete {
  background-color: rgb(243, 195, 63);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 2rem;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add__to__cart__btn:hover,
.menu__item__delete:hover {
  background-color: rgb(255, 212, 94);
  transition: background-color 0.3s;
}

.menu__item__btn__div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu__item__btn__div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__item__btn__div div button {
  background-color: rgb(243, 195, 63);
  border: 0;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
